
body {
    padding-top: 2.6rem;
    color: $main-font-color;
    background-color: $main-bg-color;
}

h1, h2, h3 {
    font-weight: bold;
}

h4, h5, h6 {
    font-weight: 500;
}

a {
    color: $primary;
    text-decoration: none;
}

.form-control {
    height: calc(1em + 0.7rem + 2px);
    padding: 0.1rem 0.7rem;
    overflow: hidden;
}


#login, #register {
    &.card {
        max-width: 400px;
        margin: calc(50vh - 170px) auto 0;
    }
}

@media (max-width: 1024px) {
    .container {
        width: 100%;
        max-width: 100%;
    }
}

@include media-breakpoint-down(xs) {
    
    body {
        padding-top: 0rem;
        padding-bottom: 2rem;
    }
}
