
.counter {
    color: $white;
    min-width: 1.1rem;
    line-height: 1.1rem;
    padding: .1rem .3rem;
    border-radius: 1.2rem;
    font-size: .7rem;
    font-weight: bold;
    background: #9db5cd;
}

.header {
    font-size: 1.2em;
    
    svg {
        color: #9db5cd;
    }
}

.navbar {
    padding: 0.1rem 0.5rem;
    
    a {
        display: block;
        font-size: 1.5rem;
        color: $white;
        border-bottom: 2px solid transparent;
        text-decoration: none;

        &.router-link-exact-active {
            border-bottom: 2px solid $white;
        }

        h5 {
            line-height: 1.5rem;
            margin: .2rem;
        }

        &:active {
            svg {
                animation: pulse 2s ease infinite;
            }
        }
    }

    .counter {
        position: absolute;
        top: .1rem;
        right: calc(50% - 1.2rem);
        padding: 0 .3rem;
        background: $red;
    }
}

@include media-breakpoint-down(xs) {
    #main-navbar {
        bottom: 0;
        top: initial;
    }
}
