
#profile {
    .user-avatar {
        .vue-avatar--wrapper {
            margin: auto;
            max-width: 100%;
        }
    }
    .location {
        font-size: 0.8rem;
    }

    .actions {
        font-size: 1.8em;

        .new-dialog {
            color: $teal;
            
            &:active {
                animation: pulse 2s ease infinite;
            }
        }
        .like {
            color: $red;

            &:active {
                animation: pulse 2s ease infinite;
            }
        }
    }

    .personal-info {
        .item {
            margin-bottom: 0.3rem;
        }
    }
}

.slick-slider {

    img {
        margin: 0 auto;
        cursor: pointer;
    }

    .upload-btn {
        height: 150px;
        width: 150px;
        margin: 0 auto;
        cursor: pointer;
        font-size: 6rem;
        text-align: center;
        color: $primary;
        font-weight: bold;
        background: #ccc;
    }

    .slick-arrow {
        position: absolute;
        top: 0;
        bottom: 6px;
        padding: 1.2rem;
        z-index: 9;
        border: 0;
        opacity: 0.4;
        background-color: #000;
        font-weight: bold;
        cursor: pointer;

        &.slick-prev {
            left: 0;
            
            &:before {
                content: "<";
                color: $red;
                font-size: 30px;
            }
        }
        &.slick-next {
            right: 0;
            content: " ";

            &:before {
                content: ">";
                color: $red;
                font-size: 30px;
            }
        }
    }
    z-index: 9;
}

@include media-breakpoint-down(xs) {
    #profile {
        .personal-info {
            .item {
                border-bottom: 1px solid $border-color;
            }
        }
    }
}
