
@mixin box-shadow($x, $y, $b: 0px, $r: 1px, $c: rgba(0,0,0,0.75)) {
    -webkit-box-shadow: $x $y $b $r $c;
    -moz-box-shadow: $x $y $b $r $c;
    box-shadow: $x $y $b $r $c;
}

// Animation
@keyframes pulse {
	0% {transform: scale(1.1)}
 	50% {transform: scale(0.8)}
 	100% {transform: scale(1.1)}
}
