
// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import 'nouislider';


body {
    padding-top: 3rem;
}

.navbar {
    padding: 0.3rem 1rem;
    
    a {
        font-size: 1.5rem;
    }

    .home-link {
        margin-right: 2.5rem;
    }

    .profile-link {
        margin-right: -2.5rem;
    }

    .avatar {
        height: 1.8rem;
        width: auto;
        border-radius: 1rem;
    }
}

.card {
    position: relative;
    margin-bottom: 0.5rem;
    overflow: hidden;
    border: 0;
    border-radius: 0.2rem;
    -webkit-box-shadow: 0px 1px 2px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 2px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 2px -1px rgba(0,0,0,0.75);

    &:hover {
        -webkit-box-shadow: 0px 1px 4px -1px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 1px 4px -1px rgba(0,0,0,0.75);
        box-shadow: 0px 1px 4px -1px rgba(0,0,0,0.75);
    }

    .card-img-top {
        max-height: 150px;
        width: 100%;
        border-top-left-radius: calc(0.25rem - 1px);
        border-top-right-radius: calc(0.25rem - 1px);
        -o-object-fit: cover;
        object-fit: cover;
        -o-object-position: 50% 30%;
        object-position: 50% 50%;
    }
}

#profile {
    
}

@include media-breakpoint-down(xs) {
    #main-navbar {
        bottom: 0;
        top: initial;
    }

    body {
        padding-top: 0.5rem;
        padding-bottom: 3rem;
    }

    .card .card-img-top {
        max-height: 230px;
    }
}


.dialogs {
    .dialog {
        margin-top: 0.3rem;
        padding-bottom: 0.3rem;
        border-bottom: 1px solid #eee;

        .subject {
            font-weight: bold;
        }

        .date {
            font-size: 0.8rem;
        }
    }
}

.messages {
    .header {
        font-size: 1em;

        .back-link,
        .info-link {
            color: #9db5cd;
        }

        .subject {
            font-weight: bold;
        }
    }

    .message {
        .date {
            font-size: 0.8rem;
        }
    }
}
