
// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

@import 'nouislider';


body {
    padding-top: 3rem;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

.navbar {
    padding: 0.1rem 0.5rem;
    
    a {
        font-size: 1.5rem;
    }

    .home-link {
        margin-right: 2.5rem;
    }

    .profile-link {
        margin-right: -2.5rem;
    }

    .avatar {
        height: 1.8rem;
        width: auto;
        border-radius: 1rem;
    }
}
.header {
    font-size: 1.2em;
    
    svg {
        color: #9db5cd;
    }
}

#search-filter {
    border-bottom: 1px solid #eee;
    padding-bottom: 0.5rem;
    -webkit-box-shadow: 0px 9px 5px -7px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 9px 5px -7px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 9px 5px -7px rgba(0, 0, 0, 0.75);
    
    .filter {
        margin-bottom: 0.5rem;
    }
}

.card {
    position: relative;
    margin-bottom: 1rem;
    min-height: 8rem;
    overflow: hidden;
    border: 0;
    border-radius: 0.2rem;
    -webkit-box-shadow: 0px 1px 3px -1px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 1px 3px -1px rgba(0,0,0,0.75);
    box-shadow: 0px 1px 3px -1px rgba(0,0,0,0.75);

    &:hover {
        -webkit-box-shadow: 0px 1px 4px -1px rgba(0,0,0,0.75);
        -moz-box-shadow: 0px 1px 4px -1px rgba(0,0,0,0.75);
        box-shadow: 0px 1px 4px -1px rgba(0,0,0,0.75);
    }

    .card-img-top {
        max-height: 150px;
        width: 100%;
        border-top-left-radius: calc(0.25rem - 1px);
        border-top-right-radius: calc(0.25rem - 1px);
        -o-object-fit: cover;
        object-fit: cover;
        -o-object-position: 50% 30%;
        object-position: 50% 50%;
    }
}

#profile {
    .location {
        font-size: 0.8rem;
    }
}

@include media-breakpoint-down(xs) {
    #main-navbar {
        bottom: 0;
        top: initial;
    }

    body {
        padding-top: 0.5rem;
        padding-bottom: 3rem;
    }

    .card .card-img-top {
        max-height: 230px;
    }
}


.dialogs {
    .dialog {
        margin-top: 0.3rem;
        padding-bottom: 0.3rem;
        border-bottom: 1px solid #eee;

        .subject {
            font-weight: bold;
        }

        .date {
            font-size: 0.8rem;
        }
    }
}

.messages {
    .header {
        font-size: 1.2em;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 1.5em;
        padding-top: 0.8vh;
        z-index: 10000;
        background: #fff;

        .subject {
            font-weight: bold;
        }
    }

    .content {
        height: 87vh;
        margin-top: 5vh;
        padding-bottom: 3vh;
        overflow-y: auto;

        .message {
            .body {
                position: relative;
                margin-top: 0.2rem;
                margin-bottom: 0.2rem;
                padding: 0.7rem 0.85rem;
                max-width: 70vw;
                min-width: 20vw;
                min-height: 50px;
                border-radius: 10px;
                border: 1px solid $message-border;
                background-color: $message-background;
                text-align: left;

                .date {
                    font-size: .7rem;
                    position: absolute;
                    bottom: 0px;
                    right: 10px;
                    color: #717171;
                }

                &:after,
                &:before {
                    content: '';
                    position: absolute;
                    width: 0;
                    height: 0;
                }

                &:after {
                    border-left: 15px solid transparent;
                    border-right: 15px solid transparent;
                }

                &:before {
                    border-left: 16px solid transparent;
                    border-right: 16px solid transparent;
                }

                &.left {
                    float: left;
                    left: 1em;

                    &:after {
                        border-top: 15px solid $message-background;
                        top: 0;
                        left: -15px;
                    }

                    &:before {
                        border-top: 17px solid $message-border;
                        top: -1px;
                        left: -17px;
                    }
                }

                &.right {
                    float: right;
                    right: 1em;

                    &:after {
                        border-bottom: 15px solid $message-background;
                        bottom: 0;
                        right: -15px;
                    }

                    &:before {
                        border-bottom: 17px solid $message-border;
                        bottom: -1px;
                        right: -17px;
                    }
                }
            }
        }
    }
    .message-form {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        height: auto;
        padding: 0.2rem;
        background-color: #eee;
        z-index: 10000;

        textarea {
            padding-right: 2rem;
            background-color: #eee;
            border: 0;
            border-bottom: 1px solid $message-btn-color;

            &:focus {
                border-color: none;
                outline: 0;
                box-shadow: none;
            }
        }

        .send-btn {
            position: absolute;
            right: .5em;
            top: .2em;
            color: $message-btn-color;
            font-size: 1.5rem;
        }
    }
}

@include media-breakpoint-up(sm) {
    .messages {
        .header {
            position: relative;
        }

        .message-form {
            bottom: 0em;
            padding: .8rem;


            .send-btn {
                right: 1em;
                top: .6em;
            }
        }
    }
}
